PQ_QUERY_INSTRUCTION="为图片查询生成向量: "
PQ_EMBEDDING_MODEL=data/models/bge-base-zh-v1.5-q4_k_m.gguf
PQ_INDEX_FILE=data/pones.idx
PQ_IMAGEITEM_FILE=data/pones.json
PQ_IMAGE_DIR=data/images
PQ_LABELER_APIKEY=sk-123
PQ_LABELER_APIURL=https://api.siliconflow.com/v1/completions
PQ_LABELER_MODEL=Qwen/Qwen2.5-VL-72B-Instruct
PQ_LABELER_PROMPT="用一句话描述这张图片。要求：1. 识别并说明主体；2. 描述其状态、氛围或动作；3. 若有文字，请完整记录在双引号内；4. 简述其表达的情绪或含义（如：嘲讽、可爱、极简、混乱）；5. 直接描述，不要使用‘这张图片显示了’等废话，总字数不超过 150 字。"