{{define "base.tmpl"}}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoneQuest</title>
    <link rel="stylesheet" href="/static/css/style.css?v=20260321a">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

    <script src="/static/js/ui.js?v=20260321a" defer></script>
</head>

<body class="antialiased">
    {{template "content" .}}
</body>

</html>
{{end}}