[
    {
        "id": "smile.jpg",
        "description": "微笑"
    },
    {
        "id": "thumbs_up.jpg",
        "description": "大拇指点赞"
    },
    {
        "id": "confused_nick.png",
        "description": "黑人问号"
    }
]